* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Source Sans 3', sans-serif;
    background-color: #EDEDED;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* typography */


/* header */

header {
    border-bottom: 1px solid #C6C6C6;
    background-color: white;
}

.logo {
    height: 75px;
    
}

.user-avatar {
    width: 40px;
}

.user-avatar img {
    width: 100%;
    border-radius: 100%;
}

/* posts */

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: white;
}

.post img {
    width: 100%;
}

.post-header {
    padding: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.post-logo {
    width: 75px;
    height: 75px;
}

.post-logo img {
    border-radius: 100%;
}

.post-image {
    height: 500px
}

.post-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post-icons {
    display: flex;
    gap: 15px;
}

.post-icons img {
    width: 35px;
}

.likes, .commenter {
    font-weight: bold;
}
